<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"

>
<!--    <bean id="person" class="org.example.pojo.Person" init-method="init" destroy-method="dest">
        <property name="name" value="匡杰"/>
        <property name="age" value="22"/>
    </bean>-->
<!--
    <bean id="myInstantiationAwareBeanPostProcessor"
          class="org.example.processor.MyInstantiationAwareBeanPostProcessor"/>
    <bean id="myBeanPostProcessor" class="org.example.processor.MyBeanPostProcessor"/>
-->

    <!--    <bean id="student" class="org.example.pojo.Student">
            <constructor-arg name="name" value="kj"/>
            <constructor-arg name="age" value="22"/>
            <property name="money">
                <null/>
            </property>
            <property name="expression">
                <value><![CDATA[a<b<c]]></value>
            </property>
        </bean>-->
    <!--    p 空间使用-->
    <bean id="student" class="org.example.pojo.Student" p:money="33" scope="prototype">
        <constructor-arg name="name" value="kj"/>
        <constructor-arg name="age" value="22"/>
    </bean>

    <bean id="student2" class="org.example.pojo.StudentFactoryBean"/>
    <context:component-scan base-package="org.example"/>
    <aop:aspectj-autoproxy/>

    <!-- xml 方式声明 aop   -->
<!--    <bean id="myAspect" class="org.example.apo.MyAspect"/>
    <aop:config>
        <aop:pointcut id="pointCut" expression="execution(* org.example.pojo.Student.testAspect(String))"/>
        <aop:aspect ref="myAspect">
            <aop:before method="before" pointcut-ref="pointCut"/>
        </aop:aspect>
    </aop:config>-->
</beans>